*{
    padding: 0;
    margin: 0%;
    font-family: 'Gothic A1', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Quicksand', sans-serif;
}

.singlePro{
    display: flex;
    width: 90%;
    margin: auto;
    gap: 0% 7%;
    /* border: 1px solid red; */
}

.singleImgDiv{
    /* border: 1px solid red; */
    width: 10%;
    margin: auto;
    /* display:; */
    display: block;
    /* position: fixed; */
    

}
.singleImgDiv img{
    width: 100%;
    height: 100%;
    border: 1px solid #838383;
    cursor: pointer;
}

/* single Main div where we are going to add img */
.singleMainDiv{
    width: 45%;
    border: 1px solid #979595;
    /* padding: -10%; */

}

.singleMainDiv img{
    width: 100%;
    height: 100%;
    
}
/* singleDescriptionDiv */
.singleDescriptionDiv{
    width: 35%;
    /* border: 1px solid blue; */
    padding: 1%;
}

.sdleft1{
    /* background-color: rebeccapurple; */
    /* width: 100%; */
    line-height: 26px;
    color: #242222;
    font-size: 20px;
    
}

#sppDes{
    font-size: 26px;
    font-weight: 600;
}
/* #sppRating{
color: red;
margin-top: 4%;
} */

#sppRating + p{
    margin: 4% 0;
    font-size: 26px;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    padding: 5% 0;
}

#sppPrice{
    border: none;
    padding: 0;
}


.sppSize{
    /* border: 1px solid black; */
    margin-bottom: 4%;
    padding: 4% 0;
    
}

.sppSize button,.sppQuantity button,span{
    background-color: transparent;
    border: 1px solid #333333;
    padding: 10px 15px;
    margin-top: 2%;
    margin-right: 2%;
    cursor: pointer;
}

.sppQuantity span{
    border: none;
    margin: 0 -2%;
}

.sppQuantity > div:nth-child(3){
    /* background-color: red; */
    display: flex;
    /* align-items: right; */
    /* justify-content: center; */
    margin-top: 3%;
}

#sppAddToCard{
    background-color: #333333;
    border: 1px solid #333333;
    color: white;
    padding: 10px 20px;
}

#sppAddToCard:hover{
    background-color: rgb(158, 228, 228);
    border-color: rgb(158, 228, 228);
    color: black;
    border: 1px solid rgb(158, 228, 228);
}

#sppAddWishlist{
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

/* otherCustomer */

.otherCustomer{
    /* border: 1px solid blue; */
    width: 95%;
    margin: auto;
    margin-top: 4%;
    /* text-align: center; */
}
.otherCustomer > h1{
    text-align: center;
    margin-bottom: 4%;

}

.otherCustomer > div{
    display: flex;
    gap: 0 3%;
    margin-top: 2%;
    margin-bottom: 20%;
}

.otherCustomerMainDiv > div{
    /* border: 1px solid black; */
    line-height: 40px;
}

.otherCustomerMainDiv img{
    width: 100%;
}

.otherCustomer button{
    width: 100%;
    padding: 15px 0 ;
    font-size: 18px;
    background-color: #333333;
    color: white;
    border-color: 0px solid #333333;
    cursor: pointer;
    border: none;
}

.otherCustomer button:hover{
    background-color: rgb(158, 228, 228);
    border-color: rgb(158, 228, 228);
    color: black;
    border: none;
}

.otherCustomerMainDiv > div > p:nth-child(2){
    /* color: red; */
    font-size: 20px;
}

.otherCustomerMainDiv > div > p:nth-child(3){
    /* color: blue; */
    /* font-size: 20px; */
    display: inline;
    padding: 10px 5px;
    border: 1px solid red;
    /* margin: 100% 0; */
}

/* last time adding css */
#ratingImgDiv{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
    gap: 0 1%;
    
}

#ratingImgDiv img{
    /* border: 1px solid red; */
    width: 30%;
}