*{
    padding: 0;
    margin: 0%;
    font-family: 'Gothic A1', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Quicksand', sans-serif;
}

.singlePro{
    display: flex;
    width: 90%;
    margin: auto;
    gap: 0% 7%;
    /* border: 1px solid red; */
}

.singleImgDiv{
    /* border: 1px solid red; */
    width: 10%;
    margin: auto;
    /* display:; */
    display: block;
    /* position: fixed; */
    

}
.singleImgDiv img{
    width: 100%;
    height: 100%;
    border: 1px solid #838383;
    cursor: pointer;
}

/* single Main div where we are going to add img */
.singleMainDiv{
    width: 45%;
    border: 1px solid #979595;
    /* padding: -10%; */

}

.singleMainDiv img{
    width: 100%;
    height: 100%;
    
}
/* singleDescriptionDiv */
.singleDescriptionDiv{
    width: 35%;
    /* border: 1px solid blue; */
    padding: 1%;
}

.sdleft1{
    /* background-color: rebeccapurple; */
    /* width: 100%; */
    line-height: 26px;
    color: #242222;
    font-size: 20px;
    
}

#sppDes{
    font-size: 26px;
    font-weight: 600;
}
#sppRating{
color: red;
margin-top: 4%;
}

#sppRating + p{
    margin: 4% 0;
    font-size: 26px;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    padding: 5% 0;
}

.sppSize{
    /* border: 1px solid black; */
    margin-bottom: 4%;
    /* line-height: 20px; */
    padding: 4% 0;
    
}

.sppSize button,.sppQuantity button,span{
    background-color: transparent;
    /* border: 1px solid #6a6868; */
    padding: 10px 15px;
    margin-top: 2%;
    margin-right: 2%;
    cursor: pointer;
}

.sppQuantity span{
    border: none;
    margin: 0 -2%;
}

.sppQuantity > div:nth-child(3){
    /* background-color: red; */
    display: flex;
    /* align-items: right; */
    justify-content: center;
}

#sppAddWishlist{
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}