* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 32px auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  box-sizing: border-box;
}
.cartPageHeader {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 100%;
  margin-bottom: 16px;
}
.cartPageHeader > h1 {
  font-size: 28px;
  line-height: 1.2;
  color: #2e3337;
  font-weight: 400;
  margin-bottom: 16px;
}

.cartPageHeader > button {
  font-size: 14px;
  font-weight: 300;
  background-color: #333;
  border-style: none;
  padding: 12px;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  margin-left: auto;
  display: flex;
  gap: 8px;
  align-items: center;
}
.cartPageHeader > button > span i {
  font-size: 14px;
}

.cartTopAlertWrapper {
  width: 100%;
  margin-bottom: 10px;
}

.cartTopAlert {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 13px;
  color: #267b9b;
  background-color: #f2f9ff;
  border-width: 1px;
  border-style: solid;
  border-color: #cce5ff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cartTopAlert i {
  margin-top: 1px;
  margin-right: 10px;
}
.cartTopAlertGreens {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 13px;
  color: #007d1e;
  background-color: #e6f2e6;
  border-color: #c8dec8;
  border-width: 1px;
  border-style: solid;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cartTopAlertGreens i {
  margin-top: 1px;
  margin-right: 10px;
}
.itemsAndGiftsDiv {
  display: flex;
  gap: 3%;
}
.cartPageContentWrapper {
  width: 100%;
  height: 100%;
}
.itemsAndGiftsDiv {
  width: 100%;
  height: 100%;
}
.cartItemShowCaseWrapper {
  width: 70%;
}

.cartItemHeader {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 1.4;
  color: #2e3337;
  font-weight: 700;
  padding: 10px 10px;
  text-align: center;
  border-top: 1px solid #d3d1d1;
  border-bottom: 1px solid #d3d1d1;
}

#itemDiv {
  display: flex;
  justify-content: flex-start;
  flex-grow: 3;
  margin: 0 10px;
}
#quantityDiv {
  padding-left: 1em;
}
#subtotalDiv {
  padding-right: 4em;
}

#priceDiv,
#quantityDiv,
#subtotalDiv {
  width: 20%;
}

.cartProductSingleCard {
  padding: 10px 0;
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.productImageAndTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 10px;
  width: 40%;
}
#product-title {
  font-size: 14px;
  line-height: 1.4;
  color: #2e3337;
  font-weight: 300;
  width: 80%;
}
.productImageAndTitle img {
  width: 70px;
}

#quantitySelector {
  display: flex;
  justify-content: center;
  align-items: center;
}

#subtotalWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
#subtotalWrapper p {
  font-weight: 600;
  color: #2e3337;
  padding-left: 1px;
}

#subtotalWrapper > div i {
  font-size: 20px;
  cursor: pointer;
}

#itemPriceWrapper,
#quantitySelector,
#subtotalWrapper,
#removeIconWrapper {
  width: 20%;
  font-size: 14px;
  font-weight: 300;
}

#quantitySelector button {
  box-sizing: border-box;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 12px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #c0bebe;
  border: none;
  padding: 12px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}
#quantitySelector button:hover {
  background-color: #d8d8d8;
}

#quantitySelector button {
  opacity: 0.7;
}

#quantitySelector span {
  margin: 0 5px;
}

.cartWishlistDiv {
  border-bottom: 1px solid #d3d1d1;
}

.cartWishListInnerDiv {
  font-weight: 300;
  cursor: pointer;
  box-sizing: border-box;
  border: 0;
  padding: 3px;
  margin-left: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 11%;
}
.cartWishListInnerDiv > button {
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: transparent;
  border: 0;
  display: flex;
  gap: 15px;
  align-items: center;
  text-align: left;
  color: #2e3337;
}
.cartWishListInnerDiv > button i {
  font-size: 20px;
}

.cartWishListInnerDiv > button:hover {
  background-color: #eaebeb;
}
.cartWishListInnerDiv > button:focus-within {
  background: #eaebeb;
  box-shadow: 0 0 0 2px #2e3337;
  outline: 1px #2e3337;
  border-radius: 2px;
  border: 3px solid #28bdb7;
}

.bottomUpselling {
  width: 100%;
}
.bottomUpselling h2 {
  font-size: 36px;
  text-align: center;
  color: #2e3337;
  font-weight: 400;
  padding-top: 10px;
  margin-top: 3%;
}

/* product card css */
.upsellProductShowcase {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
  padding: 15px;
}

#imageDiv img {
  width: 100%;
}

.productCardDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#imageAndWishListDiv {
  width: 100%;
  display: flex;
  gap: 3px;
}

#imageDiv {
  height: max-content;
  background-color: white;
  padding: 5px;
}

#wishlistDiv {
  position: absolute;
  top: 10px;
  right: 10px;
}

#textBox {
  min-width: 100px;
  width: fit-content;
  height: 30px;
  border: 0.3px solid #ba3d49;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 300;
}
#ratingContainer {
  display: flex;
  padding: 5px;
  align-items: center;
  gap: 2px;
}
#noOfRatings {
  font-size: 14px;
  line-height: 1.2;
  color: #707070;
  font-weight: 400;
  letter-spacing: 0.5px;
  display: initial;
}
#ratingStars {
  width: 30%;
}

#productDetailsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 1% 5% 1%;
  flex-grow: 1;
}
#productDetailsDiv h3 {
  font-size: 16px;
  color: #2e3337;
  font-weight: 400;
  margin: 8px;
}

#priceElement {
  font-size: 16px;
  line-height: 1.2;
  color: #2e3337;
  font-weight: 700;
  margin: 8px;
  margin-top: 15px;
}

#addToCartButton {
  font-size: 15px;
  line-height: 1.4;
  color: #2e3337;
  font-weight: 300;
  line-height: 18px;
  background-color: #333;
  border-style: none;
  padding: 12px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

#addToCartButton:hover {
  background-color: #28bdb7;
  color: black;
}

.fa-regular {
  font-size: 20px;
}

/* Right side cart summery */

.cartSummery {
  height: fit-content;
  padding: 13px 20px 20px 20px;
  width: 30%;
  border: 1px solid #d3d1d1;
  background-color: #faf3e97a;
}
.cartSummery p,
h3 {
  color: #2e3337;
}
.cartSummerySectionHeader {
  padding-bottom: 6px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d3d1d1;
}
.pricingElements {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #d3d1d1;
  margin-bottom: 15px;
}
.pricingElements div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#pricingElementPrices {
  text-align: right;
}
#pricingElementPrices p {
  font-weight: 700;
}
.applyDiscountWrapper {
  width: 100%;
  display: flex;
  box-sizing: border-box;
}
.applyDiscountWrapper > input {
  flex-grow: 1;
  font-size: 14px;
  color: #2e3337;
  font-weight: 300;
  text-transform: uppercase;
  border: 1px solid #999;
  border-right: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 5px;
  background-color: #fff;
  margin-bottom: 8px;
  height: 48px;
  width: auto;
  border-color: inherit;
}
.applyDiscountWrapper > button {
  font-size: 14px;
  font-weight: 300;
  background-color: #333;
  border-style: none;
  padding: 12px;
  color: #fff;
  border-radius: 0;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  border-color: inherit;
  height: 48px;
}

.applyDiscountWrapper {
  padding-bottom: 5px;
  margin-bottom: 5px;
}

#showCoupon {
  display: flex;
  padding: 3.5px;
  background-color: #2e3337;
  align-items: center;
  justify-content: space-around;
  width: 35%;
  border-radius: 5px;
  margin-bottom: 10px;
}
#showCoupon p {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
#showCoupon i {
  cursor: pointer;
}

.couponAlerts {
  margin-bottom: 5px;
}
.couponAlerts p {
  color: red;
  font-weight: 400;
  font-size: 14px;
}
.cartTotalFinalWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid #d3d1d1;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d3d1d1;
}
.cartTotalFinalWrapper p {
  font-size: 20px;
}
.cartTotalFinalWrapper p:nth-child(2) {
  font-weight: 700;
}
.checkoutButtonWrapper > button {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  background-color: #333;
  border-style: none;
  padding: 12px;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
}

/* Query selector for responsiveness */

@media (max-width: 900px) {
  .upsellProductShowcase {
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    padding: 15px;
  }
  .itemsAndGiftsDiv {
    flex-direction: column;
  }
  .cartItemShowCaseWrapper {
    width: 100%;
  }
  .cartSummery {
    margin-top: 3em;
    width: 100%;
  }
  #upsellProductShowcase {
    margin-top: 0;
    padding-top: 0;
  }
}

@media (max-width: 600px) {
  .upsellProductShowcase {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2%;
    padding: 15px;
  }
  .cartItemHeader {
    display: none;
  }
  #itemPriceWrapper {
    display: none;
  }
  .cartProductSingleCard {
    justify-content: space-between;
  }
  #product-title {
    width: 100%;
  }

  .productImageAndTitle {
    width: 100%;
    margin: 0;
  }
  #subtotalWrapper {
    flex-direction: column;
    gap: 1em;
  }
  #quantitySelector {
    flex-direction: column;
  }
  .cartPageHeader > button {
    height: fit-content;
  }
}
